body
{
    background: #141414;
}
.sidenav
{
    background: #212121;
}
.collapsible-header
{
    -moz-user-focus: ignore;
}
.grafico
{
    min-width: 310px;
    width: 100%;
    height: 400px;
    margin: 2% auto;
}
rect.highcharts-background
{
    background-color: #212121;
}
.sidenav_space
{
    margin-left: 300px;
}

.container_navbar
{
    padding-left: 50px;
}
.container_sidenav
{
    padding-left:5%;
    padding-right:5%;
}
.icons_crud
{
    margin-right: 0%;
}
.img_logo
{
    width: auto;
    height: 100px   ;
}
table i
{
    cursor: pointer;
}