@font-face {
    font-family: "bebas";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}
body
{
    background: #141414;
}
.sidenav
{
    background: #212121;
}
.collapsible-header
{
    -moz-user-focus: ignore;
}
.grafico
{
    min-width: 310px;
    width: 100%;
    height: 400px;
    margin: 2% auto;
}
rect.highcharts-background
{
    background-color: #212121;
}

.container_navbar
{
    padding-left: 50px;
}
.container_sidenav
{
    padding-left:5%;
    padding-right:5%;
}
.icons_crud
{
    margin-right: 0%;
}
.img_logo
{
    width: auto;
    height: 40px   ;
}
table i
{
    cursor: pointer;
}
.botton-abajo
{
    margin-top: 20px;
}
input
{
    color: white;
}
.carousel-icon
{
    position: absolute;
    margin-top: 25%;
    margin-left: -72%;
    z-index: 2;
}
iframe
{
    width: 500px;
    height: 280px;
}
.img_noticia_mantenimiento
{
    height: 300px;
    width: auto;
}
.bebas
{
    font-family: "bebas";
}

input.select-dropdown.dropdown-trigger
{
    color: white;
}
@media (min-width: 993px) { 

    .sidenav_space
    {
        margin-left: 300px;
    }
    .img_logo
    {
        width: auto;
        height: 80px   ;
    }
    .container_buscador
    {
        padding-left:5%;
        padding-right:5%;
    }
}