@font-face {
    font-family: "bebas";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}  
p.pagi{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
p strong
{
    margin:0.5%;
    padding: 1%;
    background: #c62828;
    color: white;
} 
p a
{
    margin:0.5%;
    padding: 1%;
    background: #212121;
    color: white;
}
.btn-danger
{
    background: transparent;
    color: red;
    border: red 1px solid;
    border-radius: 10%;
}
.btn-danger:hover
{
    background: red;
    color: white;
    border: red 1px solid;
    border-radius: 10%;
}
/*INICIO registrate*/
.margin-cerrar
{
    margin-top:1%;
    margin-right: 1%;
    display: flex;
   justify-content: center;
   align-items: center;
}
h3.card-text.white-text.left-align.margin-registrate-arriba
{
    padding-left: 3%;
    padding-top: 2vh;
}
h2.card-text.white-text.center-align.margin-registrate-arriba
{
    padding-top: 2vh;
}
.margin-registrate-abajo
{
    margin-bottom: 2vh;
}
/*FIN registrate*/

/*INICIO TIENDA*/
.footer-espacio
{
    height: 50px;
}
nav.pagar
{
    position: fixed;
    bottom: 0;
    z-index: 3 ;
}
.cantidad input.select-dropdown.dropdown-trigger
{
    padding-top: 2%;
    padding-left: 2%;
}
.producto-img
{
    display: block;
    margin: auto;
    min-width: 0px;
    max-width: 400px;
    height: auto;
    width: 100%;
}
.margin-nav
{
    margin-top: 10vh;
}
/*FINAL TIENDA*/
/*INICIO parte de jugadores*/
.card-text
{
    font-family: "bebas";
}
.titulo-jugador
{
    font-family: "bebas";
    margin-top: -10vh;
}
.jugador-img
{
    height: 30vh;
    width: auto;
}@supports(object-fit: cover){
    .jugador-img{
        object-fit: cover;
        object-position: center center;
    }
}
/*FIN parte de jugadores*/

/*INICIO parte de equipos*/
.separador_equipos
{
    margin-top: 20vh;
}
.indicador-down-equipo
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 2vh;
    z-index: 3;
    font-size: 4em;
}
.indicador-right-equipo
    {
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 3;
        top: 35vh;
        font-size: 4em;
        right: 1%;
        float: right;
        cursor: pointer;
    }

.indicador-left-equipo
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 35vh;
    font-size: 4em;
    float: left;
}
.logo_hero
{
    
    display: block;
    margin: auto;
    margin-top: 2vh;
    height: 150px;
    width: auto;
}
.titulo-equipos
{
    margin-top: -50vh;
    font-family: "bebas";
}
.big_hero-equipo
{
    width: 100%;
    height: 60vh;
}
@supports(object-fit: cover){
    .big_hero-equipo{
        object-fit: cover;
        object-position: center center;
    }
}
/*FIN parte de equipos*/
.titulos-valores
{
    top: 100px;
    font-family: "bebas";
    margin-top: -13.291px;
}
.valores
{
    padding-top: 2em;
}
p.quienes-parrafo
{
    font-family: "bebas";
    color: white;
    font-size: 1.5em;
    background-image: url("../img/esport.png");
    background-repeat: no-repeat;
}
.quienes-inicio
{
    height: auto;
    width: 100%;
    background-image: url("../img/wolf3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}@supports(object-fit: cover){
    .quienes-inicio{
        object-fit: cover;
        object-position: center center;
    }
}
.quienes-fotos
{
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}
.redes
{
    height: 30px;
    width: auto;
}
.contenedor-redes 
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.margin-redes
{
    margin-left: 25%;
    margin-right: 25%;
}
/*Parte del dashboard*/

body.dashboard
{
    background: #141414;
}
.sidenav.dashboard
{
    background: #212121;
}
.collapsible-header
{
    -moz-user-focus: ignore;
}
.grafico
{
    min-width: 310px;
    width: 100%;
    height: 400px;
    margin: 2% auto;
}
rect.highcharts-background
{
    background-color: #212121;
}
.container_sidenav
{
    padding-left:5%;
    padding-right:5%;
}
.icons_crud
{
    margin-right: 0%;
}
.img_logo
{
    width: auto;
    height: 40px   ;
}
table i
{
    cursor: pointer;
}
.botton-abajo
{
    margin-top: 20px;
}
input
{
    color: white;
}
.carousel-icon
{
    position: absolute;
    margin-top: 25%;
    margin-left: -72%;
    z-index: 2;
}
iframe
{
    display: block;
    margin: auto;
    width: 100%;
    height: 280px;
}
.img_noticia_mantenimiento
{
    height: 300px;
    width: auto;
}
.bebas
{
    font-family: "bebas";
}

input.select-dropdown.dropdown-trigger
{
    color: white;
}
/*fin del dashboard*/
.sidenav.public
{
    padding-top: 3%;
    font-family: "bebas";
    font-size: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    opacity: 0.95;
    background-color: #141414;
}
.sidenav.public li a
{
    font-family: "bebas";
    font-size: 1.5em;
    color: white;
    margin-bottom: 4%;
}
.sidenav.public li:last-child a
{
    color: #DA3336;
}

.sidenav.public a.close
{
    margin-bottom: 20%;
    text-align: right;
    float: right;
    color: white;
}
.sidenav.public a.close i
{
    font-size: 1.2em;
}

.mensaje-advertencia
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidenav.public a.iniciar
{
    position: absolute;
    text-align: left;
    float: left;
    color: white;
    width: 50%;
}
nav .nav-wrapper{
    background: #252525;
    border-bottom: 3px solid #707070;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
.carmesi-text{
    color: #ED212A;
}
.dropequipos
{
    display: none;
    background: #141414;
    position: fixed;
    z-index: -1;
    padding-top: 4%;
    border-radius: 10px;
    width: 60%;
    margin-left: 30%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.5);
}
.dropequipossee
{
    display: block;
}
.nav-equipos-drop
{
    margin-top: 3%;
    width: 100%;
    height: auto;
}
.fondo_wolf
{
    margin-left: -8%;
    margin-top: 3%;
    width: 50%;
    box-shadow: none;
}
body
{
    background: #252525;
}

.slider .slides
{
    background-color: #252525;
}
.slider .indicators .indicator-item.active
{
    
    background-color: #DA3336;
}
.slider .indicators .indicator-item
{
    z-index: 2;
    top: -4em;
}
.indicador-right
{
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 45%;
    font-size: 4em;
    right: 1%;
    float: right;
}

.indicador-left
{
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 45%;
    font-size: 4em;
    float: left;
}
i.indicador-right:hover , i.indicador-left:hover
{
    cursor: pointer;
}
.equipo_navbar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "bebas";
    font-size: 1.5em;
    margin-bottom: 4%;
}
.collapsible-body.navbar-equipos
{
    background-color: #141414;
}
.collapsible-body.navbar-equipos ul li
{
    font-size: 0.9em;
    color: #ED212A;
}
.equipo
{
    margin-top: 3%;
    margin-bottom: 3%;
;
}
.equipo-imagen
{
    background-color: #AF0404;
    padding: 15%;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
.afiliado-imagen
{
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    height: auto;
}
.patrocinador-imagen
{
    width: 100%;
    height: auto;
}
.titulo
{
    margin-top: -50px;
    font-family: "bebas";
}
.titulos
{
    font-family: "bebas";
    margin-top: -13.291px;
}
.fondo-equipos
{
    background-color: #414141;
}
.send
{
    background-color: #ED212A;
    font-family: "bebas";
    font-size: 2em;
}
form
{
    margin-top: 3%;
    margin-bottom: 3%;
}
section.fondo-equipos input.validate.forms_input::placeholder , textarea.forms_input::placeholder
{
    color: #707070;
}

section.fondo-equipos input.validate.forms_input, textarea.forms_input
{
    margin-top: 1.5em;
    padding-left: 0.5em;
    font-size: 1.6em;
    font-family: "roboto", sans-serif;
    background-color: white;
    color: #252525;
}

section.fondo-equipos .input-field label {
    color: #fff;
    font-size: 3em;
    font-family: "bebas";
  }
  .modal .input-field label {
    color: #fff;
    font-size: 1.4em;;
  }

  textarea#textarea1
  {
    min-height: 200px;
  }

  /* label focus color */
  .input-field input:focus + label,.modal .input-field input:focus + label,.input-field input[type=text].forms_input:focus + label, .input-field input[type=email].forms_input:focus + label, .input-field textarea.materialize-textarea.forms_input:focus + label  {
    color: #ED212A;
  }
  /* label underline focus color */
  .input-field input:focus,.input-field input[type=text].forms_input:focus, .input-field input[type=email].forms_input:focus , .input-field textarea.forms_input:focus {
    border-bottom: 1px solid #ED212A;
    box-shadow: 0 1px 0 0 #ED212A;
  }
  /* valid color */
  .input-field input.valid, .input-field input[type=email].valid, .input-field textarea.valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* invalid color */
  .input-field input.invalid, .input-field input[type=email].invalid, .input-field textarea.invalid {
    border-bottom: 1px solid #AF0404;
    box-shadow: 0 1px 0 0 #AF0404;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ED212A;
  }
  .footer-arriba
  {
      background: #414141;
  }
  .footer-copyright.footer-abajo
  {
      background-color: #252525;
  }
  .modal-text
  {
      font-family: "bebas";
  }
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 600px) {
    .separador_equipos
    {
        margin-top: 25vh;
    }
    p.quienes-parrafo
    {
        font-family: "bebas";
        color: white;
        font-size: 1.5em;
        background-image: url("");
        background-repeat: no-repeat;
    }
    iframe
    {
        display: block;
        margin: auto;
        width: 500px;
        height: 280px;
    }
    .quienes-inicio
    {
        height: auto;
        background-image: url("../img/wolf3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;  
    }@supports(object-fit: cover){
        .quienes-inicio{
            object-fit: cover;
            object-position: center center;
        }
    }
    .quienes-fotos
    {
        height: 300px;
        width: auto;
    }
    .redes
    {
        height: 50px;
        width: auto;
    }
    .contenedor-redes 
    {
        margin-top: 1%;
        margin-bottom: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }
     
    .fondo_wolf
    {
        margin-left: -8%;
        margin-top: 6.75%;
        width: 50%;
        box-shadow: none;
        
    }
    nav a.iniciar_sesion
    {
        margin-left: 10%;
        font-family: "bebas";
        font-size: 1.5em;
    }

 }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    nav .nav-wrapper ul li a
{
    font-family: "bebas";
    font-size: 1.5em;
    
}

nav .nav-wrapper ul li:last-child a
{
    color: #DA3336;
}
.fondo_wolf
{
    margin-left: -8%;
    margin-top: 6.8%;
    width: 50%;
    box-shadow: none;
}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 993px) { 
/*FINAL TIENDA*/
    /*INICIO parte de jugadores*/
    .indicador-down-equipo
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 6.5vh;
    z-index: 3;
    top: 90vh;
    font-size: 4em;
}
    .card-text
    {
        font-family: "bebas";
    }
    .titulo-jugador
    {
        font-family: "bebas";
        margin-top: -10%;
    }
    .jugador-img
    {
        height: 30vh;
        width: auto;
    }@supports(object-fit: cover){
        .jugador-img{
            object-fit: cover;
            object-position: center center;
        }
    }
    /*FIN parte de jugadores*/
    .separador_equipos
    {
        margin-top: 23vh;
    }
    .indicador-right-equipo
    {
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 3;
        top: 50vh;
        font-size: 4em;
        right: 1%;
        float: right;
        cursor: pointer;
    }

    .indicador-left-equipo
    {
        cursor: pointer;
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 3;
        top: 50vh;
        font-size: 4em;
        float: left;
    }
    .logo_hero
    {
        display: block;
        margin: auto;
        height: 350px;
        width: auto;
    }
    .big_hero-equipo
    {
        width: 100%;
        height: 90vh;
    }
    @supports(object-fit: cover){
        .big_hero-equipo{
            object-fit: cover;
            object-position: center center;
        }
    }
    .titulo-equipos
    {
        font-size: 5em;
        margin-top: -80vh;
        font-family: "bebas";
    }
    .quienes-inicio
    {
        height: auto;
        background-image: url("../img/wolf3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }@supports(object-fit: cover){
        .quienes-inicio{
            object-fit: cover;
            object-position: center center;
        }
    }
    .quienes-fotos
    {
        height: 500px;
        width: auto;
        display: block;
        margin: auto;
    }
    .sidenav_space
    {
        margin-left: 300px;
    }
    .img_logo
    {
        width: auto;
        height: 80px   ;
    }
    .container_buscador
    {
        padding-left:5%;
        padding-right:5%;
    }
    .fondo_wolf
    {
        margin-left: -3%;
        margin-top: 6.8%;
        width: 50%;
        box-shadow: none;
    }
        nav .nav-wrapper ul li a
    {
        font-family: "bebas";
        font-size: 1.5em;
        
    }

    nav .nav-wrapper ul li:last-child a
    {
        color: #DA3336;
    }
    .container_navbar
    {
        padding-left: 50px;
    }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
   
    .fondo_wolf
    {
        margin-left: -3%;
        margin-top: 6.7%;
        width: 50%;
        box-shadow: none;
    }
    nav .nav-wrapper ul li a
    {
        font-family: "bebas";
        font-size: 1.5em;
        
    }

    nav .nav-wrapper ul li:last-child a
    {
        color: #DA3336;
    }
 }